<header>
	<h1><%= title %></h1>
	<p>最終更新：<time pubdate>2011-11-30</time></p>
</header>
<article>
	<header>
		<h1>郵便番号に対応する住所をList表示します</h1>
	</header>
	<form>
		<label>〒:<input type='number' max='999' min='0' />-<input type='text' readonly /></label>
	</form>
</article>
